# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

scratch.r
scratch.rb
scratch.py
scratch
scratch.c
scratch.cpp
Rplots.pdf

# rubymine ide dir
.idea
