# Compiled Object files
*.slo
*.lo
*.o
*.exe
*.exe.mdb
*.dll
*.class
*.beam

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

scratch.r
scratch.rb
scratch_spec.rb
scratch.py
scratch
scratch.c
scratch.cpp
scratch.go
scratch.js
scratch.cs
scratch.sh
scratch.java
scratch.lsp
scratch.d
scratch.m
scratch.pl
scratch.php
scratch.clj
scratch.lua
scratch.groovy
scratch.coffee
scratch.erl
scratch.scala

Rplots.pdf

solution

# rubymine ide dir
.idea

TestResult.xml

# Ruby bundler directory for dependencies
*/*/vendor
*/*/*.lock
*/*/.bundle
*/*/bin
# Nodejs npm directory for dependencies
*/*/node_modules
# gradle directory for dependencies
*/*/.gradle
# php composer directory for dependencies
*/*/build
# Python virtualenv/pip directory for dependencies
*/*/python-env

